<h1><%= @pet.name %> <small>(<%= @pet.species %>)</small></h1>
<ul>
  <li>Address: <%= @pet.address %></li>
  <li>Found on: <%= @pet.found_on %></li>
</ul>

<%= link_to "Edit #{@pet.name}", edit_pet_path(@pet) %>
<br>
<%= link_to "Delete #{@pet.name}", pet_path(@pet), method: :delete, data: { confirm: "Are your sure?"} %>
<br>
<%= link_to "Back to all pets", pets_path %>
